# Git
.git/
.gitignore

# Dependencies (di-install ulang saat build)
node_modules/

# Build output (di-generate ulang saat build)
dist/
build/
.vite/

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Docs
README.md
*.md

# IDE
.vscode/
.idea/